body {
  margin: 0;
  font-family: Lucida Handwriting,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(70,204,255);
background: linear-gradient(90deg, rgba(70,204,255,1) 0%, rgba(30,81,115,1) 52%, rgba(79,225,255,1) 100%);
}
button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
